<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Title</title>
</head>
<body>
<h1>Person List</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>First fio</th>
            <th>Last email</th>
            <th>Last card</th>
            <th>Last phone</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:utext="${person.fio}"></td>
            <td th:utext="${person.email}"></td>
            <td th:utext="${person.card}"></td>
            <td th:utext="${person.phone}"></td>
        </tr>
    </table>
</div>
</body>
</html>